nav {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 75px;

    li {
        padding-left: 13px;

        &:first-child {
            padding-left: 0;
        }
    }
    
    a {
        display: block;
        width: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
        color: #fff;
        background-size: 28px 30px;
        background-position: top center;
        padding-top: 37px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $secondary_font;
        letter-spacing: 3px;
    }

    .past {
        display: none;
    }

}
