footer
    div.container
        section.social
            div.grid
                div.column.size12of12.social_icons_container
                    a.symbol.icon.facebook(href="https://www.facebook.com/intentionalFutures" target="_blank" title='Intentional Futures on Facebook') &#xe227;
                    a.symbol.icon(href="https://twitter.com/intentfutures" target="_blank" title='Intentional Futures on Twitter') &#xe286;
                    a.symbol.icon(href="https://www.linkedin.com/company/intentional-futures" target="_blank" title='Intentional Futures on LinkedIn') &#xe252;
                    a.symbol.icon(href="http://instagram.com/intentionalfutures" target="_blank" title='Intentional Futures on Instagram') &#xe300;
            div.column.size12of12.copyright
                p &copy; #{ new Date().getFullYear() } #{ locals.owner } All Rights Reserved.