iframe#iframe_txlbrchf(name='iframe_txlbrchf', style='display:none;', onload="if(typeof sent_txlbrchf!='undefined')\
    {$('#ss-form').addClass('submitted')}")
form#ss-form(action='https://docs.google.com/forms/d/1qXZsxrL_2r3k8ZxMGKnJoD-dGNE0zih0lEl9X_22Ycw/formResponse', method='POST', target='iframe_txlbrchf', onsubmit='sent_txlbrchf=true')
  ol.ss-question-list(role='list', style='padding-left: 0')
    .ss-form-question.name.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
          input#entry_1069655472.ss-q-short(type='text', name='entry.1069655472', value='', dir='auto', aria-label='Name  ', aria-required='true', required='', title='' placeholder="Name")
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-text(dir='auto')
        .ss-form-entry
          input#entry_1879453804.ss-q-short(type='email', name='entry.1879453804', value='', placeholder="Email", dir='auto', aria-label='Email (for verification and updates)  Must be a valid email address', title='Must be a valid email address')
          #1561214080_errorMessage.error-message Must be a valid email address
          .required-message This is a required question

    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-item-required.ss-text(dir='auto')
          input#entry_31276942.ss-q-short(type='number', name='entry.31276942', value='', dir='auto', aria-label='Number of Guests  ', aria-required='true', required='', title='' placeholder="Number of guests (including you)")
    .ss-form-question.errorbox-good(role='listitem')
      .ss-item.ss-text(dir='auto')
          input#entry_371453029.ss-q-short(type='text', name='entry.371453029', value='', dir='auto', aria-label='Bringing anything?  ', aria-required='true', required='', title='' placeholder="Bringing anything?")
    input(type='hidden', name='draftResponse', value='[,,"1258204824982472417"]\
    ')
    input(type='hidden', name='pageHistory', value='0')
    input(type='hidden', name='fbzx', value='1258204824982472417')
    div.submit_container
      input#ss-submit.jfk-button.jfk-button-action(type='submit', name='submit', value='Count me in')
    p.success_message Thanks! Looking forward to seeing you.