extends layout
block beforeBody
  - bodyClasses.push('home')

block content
    section.marquee
        div.copy_container
          h1 Chris and Emma's
          h2 Housewarming Party
          h3 Saturday, August 22
        nav
            ul
                li
                    a(href="#info").info info
                li
                    a(href="#rsvp").rsvp rsvp
                li
                    a(href="#map").map map

    section.info
        div.block_content
            h1#info Come drink and eat with us in our new home
            p So it's been 4 months since we moved in together and we thought it was time we got around to having a party to celebrate our co-habitation union and want to share a night of drinks, food and fun with our friends. 
            
            ul
                li <span class="bold">Date</span> Satuday, August 22
                li <span class="bold">Time</span> Starting 7:30 <span class="small_caps">PM</span>
                li <span class="bold">Place</span> 1814 E Denny Way #302

    section.rsvp
        div.block_content
            h1#rsvp RSVP
            p We need to figure out how much food and booze to provide, so please RVSP and let us know if you'd like to bring anything to share (please, no gifts).
            include form.jade

    section.map
        div.block_content
            h1#map Directions
            p Our home is located on the 3rd story of an outdoor walk-up in the Mod 19 apartments at <span class="bold">1814 E. Denny Way, Seattle WA 98122</span>.

            div#map_canvas

            p Parking can be tough, especially on the weekends, however it is free in the evenings. We recommend walking, bussing or ubering. We're closest to the 10, 11, 12, 43 and 8 bus routes. 

            p If you get lost, give one of us a call and we'll help you out.

